.carousel-control-prev, .carousel-control-next {
  width: 2rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 1rem;
  height: 4rem;
  color: black;
  background-color: grey;
}

.carousel-control-prev-icon {
  margin-right: 0.25rem;
}

.carousel-control-next-icon {
  margin-left: 0.25rem;
}

.carousel-indicators {
  background-color: lightgrey;
}

h2 {
  font-weight: bolder;
}
